<div class="container">
  <div class="cocktail-info">
    <div class="cocktail-name">
      <strong>Name:</strong> <%= @cocktail.name %>
      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
    <div class="cocktail-ingredients">
      <strong>Ingredients:</strong> <% @cocktail.doses.each do |dose| %>
      <ul>
        <li>
          <%= dose.ingredient.name %> - 
          <%= dose.description %>
          <%= link_to '<i class="fas fa-trash-alt" aria-hidden="true"></i>'.html_safe, cocktail_dose_path(@cocktail, dose), method: :delete, class: 'trash-icon', data: { confirm: 'Are you sure?' } %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
  <div id="new-dose-form" hidden>
    <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
  </div>
  <br>
  <div class="links" style="display: flex; justify-content: space-evenly">
    <button class="btn btn-primary" id="show-new-dose-form">Add new dose</button>
    <br><br>
    <%= link_to "Edit this cocktail", edit_cocktail_path, class: "btn btn-secondary" %>
    <br><br>
    <%= link_to("Delete this cocktail", cocktail_path(@cocktail), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' }) %>
    <br><br>
    <%= link_to "Return to cocktail list", root_path, class: "btn btn-primary" %>
  </div>
</div>
