<div class="container">
  <div class="cocktail-info">
    <div class="cocktail-name">
      <strong>Name:</strong> <%= @cocktail.name %>
    </div>
    <div class="cocktail-ingredients">
      <strong>Ingredients:</strong> <% @cocktail.doses.each do |d| %>
      <ul>
        <li>
          <%= d.ingredient.name %> - 
          <%= d.description %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
  <br>
  <div class="links" style="display: flex; justify-content: space-evenly">
    <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
    <br><br>
    <%= link_to "Edit this cocktail", edit_cocktail_path, class: "btn btn-secondary" %>
    <br><br>
    <%= link_to("Delete this cocktail", cocktail_path(@cocktail), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' }) %>
    <br><br>
    <%= link_to "Return to cocktail list", root_path, class: "btn btn-primary" %>
  </div>
</div>