<div class="container">
  <%= simple_form_for [cocktail, dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.button :submit, "Add dose", class: "btn btn-primary" %>
  <% end %>
  <div class="cancel-btn" style="margin-top: 10px;">
    <%= link_to "Cancel", cocktail_path, class: "btn btn-secondary", id: "cancel-button" %>
  </div>
</div>
